* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    box-sizing: border-box;
}
h2, h3 {
    margin: 0 0 20px;
  }
  p {
    margin-bottom: 5px;
  }
  .header {
    background-color: rgb(10, 126, 81);
    color: white;
  }
  .title-container {
    padding: 10px 30px 0;
  }
  .navigation {
    background-color: cornflowerblue;
    padding: 0 30px;
  }
  .navigation ul {
    padding: 5px 0;
  }
  .navigation li {
    margin-right: 40px;
    list-style-type: none;
    display: inline;
  }
  .navigation li a {
    color: white;
    text-decoration: none;
  }
  .content {
    max-width: 1200px;
    margin: auto;
    flex-grow: 1;
  }
  .main-content {
    width: 66%;
    display: inline-block;
  }
  .a-side {
    background-color: lightgrey;
    margin: 10px;
    padding: 20px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  .article {
    padding: 15px;
  }
  .article-small {
    display: inline-block;
    width: 30%;
    margin-right: 10px;
    padding: 15px;
  }
  .bibliography{
      background-color: silver;
      padding: 25px;
      
  }
  .scyllarus{
      font-style: italic;
      font-size:18px;
      font-weight: 700;
  }
  .footer{
      background-color: rgb(10, 126, 81);
      color: white;
      vertical-align: bottom;
      margin-top: 15px;
      padding: 25px;
  }
  .photo{
        width: 150px;
        border-radius: 100%;
  }